{% extends 'base.html' %}

{% block title %}
    REGISTER
{% endblock %}

{% block content %}
<!-- component -->
<div class="p-20 h-screen w-screen flex flex-col-reverse md:flex-row items-center justify-center bg-gray-50">
    <div class="content text-3xl text-center md:text-left">
        <h1 class="text-5xl text-blue-500 font-bold ">Book Store</h1>
        <p class="mr-6">Buy and sell you old and new books.</p>
    </div>
    <form class="shadow-lg w-80 p-4 flex flex-col bg-white rounded-lg text-center"  method="POST" action="">
        {{ form.hidden_tag() }}

        <!-- {{ form.username.label() }} -->
        {{ form.name(class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white", placeholder="Your Password", placeholder="Your Name") }}
        <!-- <input type="text" placeholder="Create Username"
            class="mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500" /> -->

        <!-- {{ form.username.label() }} -->
        {{ form.username(class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white", placeholder="Your Password", placeholder="Create Username") }}
        <!-- <input type="text" placeholder="Create Username"
            class="mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500" /> -->


        <!-- {{ form.email.label() }} -->
        {{ form.email(class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white", placeholder="Your Password", placeholder="Create Email") }}
        <!-- <input type="email" placeholder="Your Email"
            class="mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500" /> -->


        <!-- {{ form.password.label() }} -->
        {{ form.password(class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white", placeholder="Your Password", placeholder="Create Password") }}
        <!-- <input type="text" placeholder="Create Pasword"
            class="mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500" /> -->

        <!-- {{ form.confirm_password.label() }} -->
        {{ form.confirm_password(class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-4 leading-tight focus:outline-none focus:bg-white", placeholder="Your Password", placeholder="Confirm Password") }}
        <!-- <input type="text" placeholder="Confirm Pasword"
            class="mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500" /> -->

        <!-- {{ form.submit.label() }} -->
        {{ form.submit(class="w-full bg-green-400 text-white p-3 rounded-lg font-semibold text-lg") }}

        
        <!-- <button class="w-full bg-green-400 text-white p-3 rounded-lg font-semibold text-lg">Create New Account</button> -->

    </form>
</div>
</div>


{% endblock %}